/* STYLING */

.loading {
  height: 580.5px;
  background-image: linear-gradient(45deg, #2f4680, #500ae4);
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-loading {
  height: 150px;
  width: 150px;
}

.rain-container {
  display: flex;
  flex-direction: row;
  transform: translateX(-15px);
  gap: 12px;
}

.rain-drop {
  height: 20px;
  width: 5px;
  background-color: lightblue;
  border-radius: 3px;
  visibility: hidden;
}

.search-bar-initial {
  display: flex;
  align-items: center;
  gap: 12px;
  visibility: hidden;
}

.input-wrapper-initial {
  position: relative;
}

.search-bar-initial input {
  height: 50px;
  border: none;
  outline: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 25px;
  color: #626262;
  background: #ebfffc;
  font-size: 18px;
}

.autocomplete-container-initial {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 300%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #626262;
  background: #ebfffc;
  outline: solid 1px;
  cursor: pointer;
  font-size: 18px;
  overflow-y: scroll;
}

.autocomplete-city-initial {
  padding-left: 25px;
}

.autocomplete-city-initial:hover {
  background-color: lightblue;
}

.search-bar-initial img {
  width: 25px;
}

.search-bar-initial button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  border-radius: 50px;
  background: #ebfffc;
}

/* UTILITY CLASSES */

.rain-drop-animation-slow {
  animation-duration: 1.2s;
}

.rain-drop-animation-fast {
  animation-duration: 0.6s;
}

.rain-drop-animation-slowly {
  animation-duration: 1s;
}

.rain-drop-animation-faster {
  animation-duration: 0.55s;
}

/* ANIMATION */
@keyframes icon-loading {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-160px);
  }
}

.icon-loading-animation {
  animation: icon-loading 2s ease-in forwards;
}

@keyframes rain-drop-animation {
  0% {
    transform: translateY(0);
    visibility: visible;
  }

  100% {
    transform: translateY(140px);
    opacity: 0;
  }
}

.rain-drop-animation {
  animation-name: rain-drop-animation;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes search {
  0% {
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

.search-bar-animation {
  animation-name: search;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
